<!-- 底部栏 -->
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0 text-center text-md-start">
                <div class="footer-logo">VisNDT</div>
                <div class="footer-logo-subtext">维森 · 视觉检测仪器网</div>
                <div class="working-hours d-inline-block">
                    <i class="fas fa-clock me-1"></i> 工作时间: 周一至周五 9:00-18:00
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0 text-center">
                <h5>联系我们</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> 邮箱: info@visndt.com</li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h5>关注我们</h5>
                <div class="d-flex flex-wrap justify-content-center mb-3">
                    <div class="social-container mx-2">
                        <i class="fab fa-weixin fa-2x social-icon" style="color: #09bb07;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=2" alt="微信二维码" class="img-fluid">
                        </div>
                    </div>
                    <div class="social-container mx-2">
                        <i class="fab fa-weibo fa-2x social-icon" style="color: #e6162d;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=3" alt="微博二维码" class="img-fluid">
                        </div>
                    </div>
                    <div class="social-container mx-2">
                        <i class="fab fa-tiktok fa-2x social-icon" style="color: #000;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=5" alt="抖音二维码" class="img-fluid">
                        </div>
                    </div>
                    <div class="social-container mx-2">
                        <i class="fas fa-video fa-2x social-icon" style="color: #07C160;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=6" alt="视频号二维码" class="img-fluid">
                        </div>
                    </div>
                    <div class="social-container mx-2">
                        <i class="fas fa-comment-dots fa-2x social-icon" style="color: #0086D6;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=7" alt="钉钉二维码" class="img-fluid">
                        </div>
                    </div>
                    <div class="social-container mx-2">
                        <i class="fas fa-building fa-2x social-icon" style="color: #1AAD19;"></i>
                        <div class="qr-code">
                            <img src="https://picsum.photos/120/120?random=8" alt="企业微信二维码" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 友情链接单独一行 -->
        <div class="friend-links-container">
            <h5 class="friend-links-title">友情链接</h5>
            <div class="friend-links">
                <a href="#">中国机器视觉网</a>
                <a href="#">自动化检测协会</a>
                <a href="#">工业4.0研究院</a>
                <a href="#">视觉检测技术论坛</a>
                <a href="#">智能制造联盟</a>
            </div>
        </div>
        
        <hr class="my-4 bg-secondary">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">© 2023 维森视觉检测仪器网. 保留所有权利.</p>
            </div>
        </div>
    </div>
</footer> 